<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osk2090.pms.dao.ClientDao">

    <resultMap id="clientMap" type="client">
        <id column="cno" property="no"/>
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tel" property="tel"/>
        <result column="birth" property="birth"/>
        <result column="admin" property="admin"/>
    </resultMap>

    <insert id="insert" parameterType="client">
        insert into client(id, password, name, tel, birth)
        values (#{id}, password(#{password}), #{name}, #{tel}, #{birth});
    </insert>

    <select id="findByNo" resultMap="clientMap" parameterType="int">
        select no,
               id,
               name,
               tel,
               birth
        from client
        where no = #{value}
    </select>

    <update id="update" parameterType="client">
        update client
        set password = password(#{password}),
            tel = #{tel},
        where no = #{value}
    </update>

    <delete id="delete" parameterType="int">
        delete from client
        where no=#{value}
    </delete>

    <select id="findAll" resultMap="clientMap">
        select
            no,
            id,
            name
        from client
        order by no asc
    </select>

</mapper>







